.left-menu {
	position: fixed;
	flex-direction: column;
	flex-shrink: 0;
	box-sizing: border-box;
	width: 300px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--surface-color);
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateX(-100%);
	transition-duration: 200ms;
	z-index: 5;
	}
	.left-menu--open {
		display: flex;
		transform: translateX(0);
		transition-duration: 250ms;
	}

.left-menu a {
	color: hsl(0, 0%, 40%);
	display: block;
	text-decoration: none;
	cursor: pointer;
	}
	.left-menu a:hover {
		background-color: rgba(0, 0, 0, 0.05);
		color: hsl(0, 0%, 15%);
	}
	.left-menu a.active {
		color: hsl(0, 0%, 15%);
		background-color: rgba(0, 0, 0, 0.05);
		font-weight: 600;
	}

.left-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: none;
}

.menu-section {
	display: flex;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 12px;
	padding-left: 24px;
	font-size: 18px;
	font-weight: 600;
}
.menu-section ion-icon {
	font-size: 24px;
	margin-right: 12px;
}

ul.topic-container {
	margin: 0;
	padding-bottom: 40px;
	border-bottom: solid 1px var(--border-color);
	}
	.topic-container:last-of-type {
		border-bottom: none;
	}
ul.topic-container li a {
	padding-top: 12px;   
	padding-right: 48px;
	padding-bottom: 12px;
	padding-left: 60px;
	font-size: 14px;
	text-transform: capitalize;
}
.dimmer {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.3);
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	z-index: 4;
	
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
	}
	.dimmer--open {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s linear 0s, opacity 300ms;
	}
