*,
*:after,
*::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font-family);
	font-size: 1rem;
	background-color: var(--background-color);
}
h1, h2, h3, h4 {
	font-family: var(--secondary-font-family);
}
.body-container {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
}
li {
	list-style: none;
}

ion-icon {
	font-size: 24px;
}

.content-container {
	margin-top: 72px;
	display: block;
	width: 100%;
	padding: 24px;
}

i {
	display: flex;
	align-items: center;
}

table {
	border-radius: 18px;
	border-collapse: collapse;
}
thead {
	font-size: 14px;
	text-transform: uppercase;
}
th {
	padding: 12px 16px;
}
tbody {
	background-color: var(--surface-color);
}
tr {
	border-bottom: solid 4px;
	border-color: var(--background-color);
}
td {
	padding: 12px 16px;
}