*,
*:after,
*::before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font-family);
	font-size: 18px;
	background-color: var(--bg-color);
}
h1, h2, h3, h4 {
	font-family: var(--secondary-font-family);
}
.body-container {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
}
li {
	list-style: none;
}

ion-icon {
	font-size: 24px;
	margin-right: 12px;
}

.content-container {
	margin-top: 72px;
	display: block;
	width: 100%;
}

i {
	display: flex;
	align-items: center;
}

table {
	background-color: var(--surface-color);
	border-radius: 18px;
}
tr {
	border-bottom: solid 1px;
	border-color: var(--primary-color);
}
th, td {
	padding: 6px 12px;
	}