/***
This file defines the colors to use across the app
***/
:root {
	/*** MAIN COLORS ***/
	--primary-color: hsl(265, 100%, 47%);
	--primary-color-var: hsl(258, 100%, 35%);
	--secondary-color: 	hsl(174, 97%, 43%);
	--secondary-color-var: hsl(180, 99%, 27%);

	/*** ACCENT COLORS ***/
	--error-color: hsl(349, 100%, 35%);

	/*** STRUCTURE COLORS ***/
	--background-color: hsl(240, 100%, 97%);
	--surface-color: hsl(0, 0%, 100%);
	--border-color: hsl(198, 16%, 84%);
	


}
